<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Articles List" %}</title>
</head>
<body>
    <h1>{% trans "Articles List" %}</h1>

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang_code, lang_name in LANGUAGES %}
                <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang_name }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">{% trans "Change Language" %}</button>
    </form>
    <ul>
        {% for article in articles %}
        <li>
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
            <p>{% trans "Published on" %}: {{ article.publication_date }}</p>
        </li>
        {% endfor %}
    </ul>

</body>
</html>